<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>atmSimulation</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PersonalDetailController</display-name>
    <servlet-name>PersonalDetailController</servlet-name>
    <servlet-class>atm.com.Controller.PersonalDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalDetailController</servlet-name>
    <url-pattern>/PersonalDetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdditionalDetailController</display-name>
    <servlet-name>AdditionalDetailController</servlet-name>
    <servlet-class>atm.com.Controller.AdditionalDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdditionalDetailController</servlet-name>
    <url-pattern>/AdditionalDetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountDetailController</display-name>
    <servlet-name>AccountDetailController</servlet-name>
    <servlet-class>atm.com.Controller.AccountDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDetailController</servlet-name>
    <url-pattern>/AccountDetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>atm.com.Controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositController</display-name>
    <servlet-name>DepositController</servlet-name>
    <servlet-class>atm.com.Controller.DepositController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositController</servlet-name>
    <url-pattern>/DepositController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawalController</display-name>
    <servlet-name>WithdrawalController</servlet-name>
    <servlet-class>atm.com.Controller.WithdrawalController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawalController</servlet-name>
    <url-pattern>/WithdrawalController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PinChangeController</display-name>
    <servlet-name>PinChangeController</servlet-name>
    <servlet-class>atm.com.Controller.PinChangeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PinChangeController</servlet-name>
    <url-pattern>/PinChangeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPasswordController</display-name>
    <servlet-name>ForgetPasswordController</servlet-name>
    <servlet-class>atm.com.Controller.ForgetPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordController</servlet-name>
    <url-pattern>/ForgetPasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MinistatementController</display-name>
    <servlet-name>MinistatementController</servlet-name>
    <servlet-class>atm.com.Controller.MinistatementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MinistatementController</servlet-name>
    <url-pattern>/MinistatementController</url-pattern>
  </servlet-mapping>
</web-app>